.projects {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.projects li {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 1rem 0;
}

.projects li .title {
    font-weight: 700;
    font-size: 1.25rem;
    margin-bottom: .25rem;
}

.projects li a {
    color: #ff7bd7;
    text-decoration: none;
    margin-left: 1rem;
}

.icon-project:hover {
    color: #9ea8ff;
}

.projects .icon p {
    margin-left: 1rem;
}
